<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">(imagen)NombreProyectoFInal</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <!-- ----------------------------------------pl---------------------------------------- -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="mostarg" routerLink="Register" routerLinkActive="active">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="mostarg" routerLink="Login" routerLinkActive="active">Acceder</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="mostarg" routerLink="Recoverpassword" routerLinkActive="active">Recuperar Contraseña</a>
        </li>
        <!-- ----------------------------------------p---------------------------------------- -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="mostarp" [routerLink]="['Homepatient']" routerLinkActive="active">Inicio paciente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="mostarp" routerLink="Historialmedico" routerLinkActive="active">Historial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="mostarp" routerLink="Rsignosvitales" routerLinkActive="active">Lectura Signos Vitales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="mostarp" routerLink="Vercitas" routerLinkActive="active">Mis Citas</a>
        </li>

        <!-- -----------------------------------------M----------------------------------------- -->
        <li class="nav-item" >
          <a class="nav-link active" aria-current="page" *ngIf="mostard" routerLink="Homemedic" routerLinkActive="active">Inicio Medico</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="mostard" routerLink="Registermedic" routerLinkActive="active">Registrar Medico</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="mostard" routerLink="Verpaciente" routerLinkActive="active">Lista de pacientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="mostard" routerLink="VHistorialmedichistoryp" routerLinkActive="active">Ver historial paciente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="mostard" routerLink="Hacerreceta" routerLinkActive="active">Hacer receta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="mostard" routerLink="Hacercita" routerLinkActive="active">cita</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" *ngIf="mostarg" routerLink="Medico" routerLinkActive="active">Medicorh</a>
        </li> -->


      </ul>

      <!--
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      -->
    </div>
  </div>
</nav>
