<div class="contenedorp">

  <div *ngFor="let DATOSMED of DATOSMED" class="pmed">
    <p style="text-align: center"></p>
    <p>Doctor: {{DATOSMED.nombre}} {{DATOSMED.apellidop}} {{DATOSMED.apellidom}}</p>
    <p>CURP: {{DATOSMED.curp}}</p>
    <p>especialidad: {{DATOSMED.especialidad}}</p>
    <p>Hospital: {{DATOSMED.hospital}}</p>
    <p>Cedula profecional: {{DATOSMED.cedpro}}</p>
    <p>Consultorio: {{DATOSMED.consultorio}}</p>
  </div>

  <a [routerLink]="['./Vpacientes']">Pruebamesta</a>

</div>
