
<div class="contenedorp" >
  <div class="alert alert-primary d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
    <div>
      Para recuperar su contraseña es necesario que nos proporcione el email que estaba ya registrado.

      En breve se le enviara un correo a esa direccion.
    </div>
  </div>


  <form submit =''>
    <div class="form-group" >
      <label for="exampleInputEmail1">Correo</label>
      <input type="text" name="email" class="form-control" placeholder="email" required autofocus>

    </div>

    <br>

    <button type="submit" class="btn btn-primary">Enviar a mi correo</button>

  </form>
  <div>
    <!-- <h1>respuesta</h1> -->
  </div>
</div>
