<div>
  <div class="contenedorp">

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="assets/sol.jpg" class="d-block w-100" height="400" width="600" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h4 style="color: black">RECOMENDACIONES GENERALES</h4>
            <p style="color: black">Tomar el sol de 15 a 20 min, en horarios de 10:00 am a 11:00 am</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="assets/gatodormido.jpg" class="d-block w-100" height="400" width="600" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h4 style="color: black">RECOMENDACIONES GENERALES</h4>
            <p style="color: black">Dormir de 7 a 8 horas diarias</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="assets/aguab.jpg" class="d-block w-100" height="400" width="600" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h4 style="color: black">RECOMENDACIONES GENERALES</h4>
            <p style="color: black">Beber mínimo 1 L 1/2  de agua al día</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="assets/aliemntosalca.jpg" class="d-block w-100" height="400" width="600" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h4>RECOMENDACIONES GENERALES</h4>
            <p>Consumir alimentos altos en alcalinos por arriba del nivel acido del virus (5.5 a 8.5)</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div style="margin-top: 5px; border-style: solid">
      <h4>Considerar que el pH del coranovirus varía de 5.5 a 8.5 por lo que se recomienda
        consumir alimentos alcalinos por encima del nivel ácido del virus como:</h4>
      <p>*PLATANOS, LIMÓN VERDE (9.9 pH)</p>
      <p>  *LIMÓN AMARILLO (8.2 pH)</p>
      <p>  *AGUACATE (15.6 pH)</p>
      <p>  *AJO (13.2 pH)</p>
      <p>  *MANGO (pH 8.7)</p>
      <p>  *MANDARINA (8.5 pH)</p>
      <p>  *PIÑA ( 12.7 pH)</p>
      <p>  *BERRO (22.7 pH)</p>
      <p>  *NARANJAS ( 9.2 pH</p>
    </div>

    <div class="md-form">
      <input placeholder="Selected time" type="text" id="input_starttime" class="form-control timepicker">
      <label for="input_starttime">Light version, 12hours</label>
    </div>

  </div>
</div>
