<div class="contenedorp">
  <div>
    <h1 style="text-align: center; font-family: 'Berlin Sans FB'" > Consulta </h1>
    <div style="width: auto ; padding: 0 8rem;  margin: 0 auto">
      <div style="width: 30%; padding: 10px; float: right">

        <img src="./assets/avatar.jpg" style="width:100px; height: 100px ;">

      </div>


      <form >
        <div class="form-group">
          <!--
          <div class="row">
            <div class="col">
              <input type="text" name="nombre" class="form-control" placeholder="Nombre">
            </div>
            <div class="col">
              <input type="text" name="apaterno" class="form-control"  placeholder="Apellido Paterno">
            </div>
            <div class="col">
              <input type="text" class="form-control" name="amaterno" placeholder="Apellido Materno" aria-label="Apellido Materno">
            </div>
          </div>
          -->
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col">
              <label> Fecha:</label>
              <input type="date" class="form-control" min="2021-07-19" max="2021-12-31">
            </div>
            <div class="col">
              <label> Hora:</label>
              <input type="time" min="09:00" max="20:00" >
            </div>
          </div>
        </div>

        <div class="form-group">
          <div style="width: 90%; padding: 5px; float: left" >

            <div class="row" >
              <div class="col">
                <label>Estado</label>
              </div>
              <div class="col">
                <select >
                  <option value="estado"></option>
                  <option >i.estado</option>
                </select>
              </div>
            </div>

            <br>

            <div  class="row">
              <div class="col">
                <option value=""></option>
                <label>Municipio</label>
              </div>
              <div class="col">
                <select>
                  <option value="municipio"></option>
                  <option>municipio</option>
                </select>
              </div>
            </div>

            <br>

            <div  class="row">
              <div class="col">
                <label>Hospital</label>
              </div>
              <div class="col">
                <select>
                  <option value="hospital"></option>
                  <option   >nombre_hospital </option>
                </select>
              </div>
            </div>
            <br>

            <li class="list-group-item bg-info text-white">
              <div class="">
                <label >Datos Hospital</label>
              </div>
              <div class="">
                <label >Hospital:  </label>
              </div>
              <div class="">
                <label >Direccion:   </label>
              </div>
              <div class="">
                <label >Telefono:  </label>
              </div>
            </li>


            <br>
            <div>
              <div class="row">
                <br>
                <div >
                  <button type="submit" class="btn btn-primary" >Confirmar</button>
                </div>
              </div>
            </div>
          </div>

        </div>

      </form>
    </div>
  </div>

</div>

