<div class="contenedorp">
  <h2 style="text-align: center">Ficha medica del paciente</h2>

  <div class="row">

    <div class="col">
      <!-- busqueda de paciente -->
      <div class="row g-2 align-items-center" style="padding-top: 10px">
        <div style="border: solid black; width: 100%; height: auto">
          <p>Nombre del paciente: </p>
          <p>Edad: </p>
          <p>Peso aproximado:</p>
          <p>Enfermedades cronicas:</p>
          <p>Medicamentos anteriores: </p>
          <p>Alergias: </p>
          <p>diagnostico clinico</p><button class="btn btn-primary">ver</button>
          <p>Foto de lengua</p><button class="btn btn-primary">ver</button>
          <p>Lista de Signos vitales del paciente</p><button class="btn btn-primary">ver</button>
          <p>Cambiar estatus</p><button class="btn btn-primary">sano</button> <button class="btn btn-primary">enfermo</button>

        </div>
      </div>
    </div>

    <div class="col">

      <div class="row g-3 align-items-center" style="padding-top: 10px">
        <div class="col">
          <label for="medtom" class="col-form-label">Medicamentos</label>
          <textarea class="form-control" placeholder="..." id="medtom" style="height: 250px"></textarea>
        </div>
      </div>

      <div class="row g-3 align-items-center" style="padding-top: 10px">
        <div class="col">
          <label for="recomendaciones" class="col-form-label">Recomendaciones</label>
          <textarea class="form-control" placeholder="..." id="recomendaciones" style="height: 250px"></textarea>
        </div>
      </div>

      <div style="float: right">
        <div class="col">
          <br>
          <input  type="submit" value="Enviar" class="btn btn-primary btn-lg">
        </div>
      </div>
    </div>

  </div>

</div>
